h1{
    color: blue;
    border-style: solid;
    border-width: 10px  20px  30px 40px;
    border-color:blue green red ;
}

h3{
    color: blue;
    border-left-style: solid;
    border-width: 20px
}
p{
    border: 10px solid red;
    border-radius: 20px;
}
h4{
    height: 0px;
    width: 0px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid ;
}
h2{
    width: 100px;
    height: 100px;
    clip-path: circle();
    background: green;
}
h5{
    height: 50px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
}